.div-galeria{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
}.div-galeria-maquinaria{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 213px;    
}.padding-tp{
    padding-top: 50px;
}